.container {
    margin-top: 30px;
    padding-bottom: 35px;
}

.logo {
    width: 502px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.voila {
    padding: 10px 0;
}