
body, pre, code {
    font-family: 'Muli', sans-serif;
    font-size: 1.6rem;
    color: #413057;
}

pre, code {
    border: 1px solid #734f9b;
    background-color: #f6e5ff;
}

code {
    border: none;
    background-color: #f6e5ff;
    padding-left: 10px;
    padding-right: 10px;
}

.tag {
    border: none;
    background-color: #f6e5ff;
    font-size: 1.2rem !important;
    padding: 3px 12px;
    font-weight: bold;
}

ul {
    line-height: 26px;
    padding: 0;
}

h4 {
    font-family: 'Oleo Script', cursive;
    font-size: 24px;
    color: #8456ac;
}

.container {
    margin-top: 10px;
    padding-bottom: 25px;
}

    .container .row {
        margin-bottom: 6px;
    }

li {
    list-style: none;
}

.logo {
    width: 400px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 60px auto;
}

.header {
    margin-top: 0px;
    text-align: center;
}

    .header .fa {
        margin: 0 3px;
        color: #8456ac;
    }